<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>裕利机械生产管理系统</title>
    <meta name="referrer" content="origin" />
    <th:block th:include="common/include::head" />
    <script type="text/javascript" th:src="@{/scripts/js/vue.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/scripts/css/fonts.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/scripts/dist/css/skins/_all-skins.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/scripts/plugins/iCheck/square/blue.css}"/>
    <!-- FastClick -->
    <script type="text/javascript" th:src="@{/scripts/plugins/fastclick/fastclick.js}"></script>
    <!-- SlimScroll -->
    <script type="text/javascript" th:src="@{/scripts/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
    <!-- iCheck -->
    <script type="text/javascript" th:src="@{/scripts/plugins/iCheck/icheck.min.js}"></script>
    <!-- AdminLTE App -->
    <script type="text/javascript" th:src="@{/scripts/dist/js/app.min.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/layer/skin/default/layer.css}"></script>
    <script type="text/javascript" th:src="@{/scripts/js/global.js}"></script>
</head>
</html>