<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head th:replace="common/head::head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <th:block th:replace="header::header"/>
    <th:block th:replace="menu::menu(1, 1)"/>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 th:replace="common/name::content"></h1>
            <ol class="breadcrumb">
                <li><a href="javascript:void(0);"><i class="fa fa-server"></i> 零件管理</a></li>
                <li class="active">零件信息</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content" id="app">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">标准配置</h3>

                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <div class="mailbox-controls">
                        <!-- Check all button -->
                        <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm" v-on:click="openDeviceStandWindow(0,'新增零件');"><i class="fa fa-plus"></i></button>
                            <button type="button" class="btn btn-default btn-sm" v-on:click="deleteStandard();"><i class="fa fa-trash-o"></i></button>
                        </div>
                        <!-- /.btn-group -->
                        <button type="button" class="btn btn-default btn-sm" v-on:click="search(1);"><i class="fa fa-refresh"></i></button>
                        <div class="pull-right">
                            {{start}} - {{end}} / {{total}}
                            <!-- /.btn-group -->
                        </div>
                        <!-- /.pull-right -->
                    </div>
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover">
                            <tr>
                                <th></th>
                                <th nowrap="true">零件编号</th>
                                <th nowrap="true">零件名称</th>
                                <th nowrap="true">零件品牌</th>
                                <th nowrap="true">零件规则</th>
                                <th nowrap="true">工序类型</th>
                                <th nowrap="true">数量</th>
                                <th nowrap="true">备注</th>
                            </tr>
                            <tr v-for="(item,key) in deviceStandards">
                                <td nowrap="true"><input type="checkbox" v-bind:value="item.id" /></td>
                                <td nowrap="true">{{item.partCode}}</td>
                                <td nowrap="true">{{item.partName}}</td>
                                <td nowrap="true">{{item.partBrand}} </td>
                                <td nowrap="true">{{item.ruleModel}}</td>
                                <td nowrap="true">{{item.partStatus}}</td>
                                <td nowrap="true">
                                    <button type="button"v-on:click="plus_in(item.id,key);">+</button>
                                    <button type="text" > {{item.partCount}}</button>
                                    <button type="button" v-on:click="minus_in(item.id,key);">-</button>
                                </td>
                                <td nowrap="true">{{item.partRemarks}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="box-footer clearfix">
                    <div class="btn-group">
                        <a th:href="@{/deviceManage}"><button type="submit" class="btn btn-default pull-right">返回</a>
                    </div>
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="javascript:void(0);" v-on:click="search(1);">&laquo;</a></li>
                        <li v-for="item in size" v-if="item == page"><a href="javascript:void(0);">{{item}}</a></li>
                        <li v-else="v-else"><a href="javascript:void(0);" v-on:click="search(item);">{{item}}</a></li>
                        <li><a href="javascript:void(0);" v-on:click="search(size);">&raquo;</a></li>
                    </ul>
                </div>
            </div>

            <div class="modal fade" id="service-dialog" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="box box-primary modal-content">
                        <div class="modal-header with-border">
                            <h3 class="modal-title"></h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="hidden" id="id" v-model="deviceStandard.id" />
                                <label for="partId" >零件名称:</label>
                                <select v-model="deviceStandard.partId"  id="partId" class="form-control">
                                    <option v-for="item in configs" class="form-control"  v-bind:value="item.id">{{item.partName}}  ({{item.partCode}})</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="partCount">零件数量</label>
                                <div class="coutter-wrapper"  id="partCount"style="display: inline-block; width: 335px;">
                                    <button type="button"v-on:click="plus();">+</button>
                                    <button type="text" v-model="deviceStandard.partCount" >{{result}}</button>
                                    <button type="button" v-on:click="minus();">-</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="partRemarks">备注</label>
                                <input type="text" class="form-control" placeholder="备注" id="partRemarks"  v-model="deviceStandard.partRemarks" />
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" v-on:click="submitStandard();">提交</button>
                            <button type="submit" class="btn btn-default pull-right" v-on:click="closeStandardWindow();">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <th:block th:replace="footer::footer"/>
</div>
<!-- ./wrapper -->
</body>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        var vue = new Vue({
            el: "#app",
            data: {
                total: 0,
                start: 0,
                end: 0,
                size: 0,
                page: 1,
                rows: 10,
                result:0,
                deviceManages: [],
                deviceStandards:[],
                pager: {},
                configs:{},
                deviceManage: {},
                deviceStandard:{},
                dialog: {},
                items:[{text:'停产',value:'停产'},{text:'生产',value:'生产'},{text:'预研中',value:'预研中'}],
                selected:'xxx'
            },
            methods: {
                search: function (index) {
                    var size = Math.ceil(this.total / this.rows);
                    if (!index) {
                        index = 1;
                    }
                    if (index > size) {
                        index = size;
                    }
                    if (index < 1) {
                        index = 1;
                    }
                    this.page = index;
                    var _self = this;
                    _self.deviceStandard.deviceId =_self.handleDate("deviceId");
                    var url = [[@{/api/deviceStandard}]];
                    $.get(url, {
                        deviceId: _self.deviceStandard.deviceId,
                        page: this.page,
                        rows: this.rows
                    }, function (datas) {
                        if (datas && datas.deviceStandards) {
                            _self.deviceStandards = datas.deviceStandards;
                            $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
                            var clicks = $(".checkbox-toggle").data('clicks');
                            if (clicks) {
                                $(".checkbox-toggle").click();
                            }
                            _self.total = datas.pager.total;
                            _self.size = Math.ceil(_self.total / _self.rows);
                            _self.start = (_self.page - 1) * _self.rows + 1;
                            _self.end = Math.min(_self.total, _self.page * _self.rows);
                        }
                    }).error(function (XMLHttpRequest) {
                        window.top.errorMessage(XMLHttpRequest);
                    });
                },
                handleDate:function (name) {
                    var reg = new RegExp("(^|&|\\?)"+ name +"=([^&]*)(&|$)"), r;
                    if (r= location.search.match(reg)) return unescape(r[2]);
                    return null;
                },
                paetConfigs: function () {
                    var _self = this;
                    var url = [[@{/api/partConfiguration/search}]];
                    $.get(url, {
                        partName: ""
                    }, function (datas) {
                        if (datas && datas.configs) {
                            _self.configs = datas.configs;
                        }
                    }).error(function (XMLHttpRequest) {
                        window.top.errorMessage(XMLHttpRequest);
                    });
                },
                //零件数量减少
                minus_in: function (id,key) {
                    var _self = this;
                    if( _self.deviceStandards[key].partCount==0){
                        return;
                    }
                    _self.deviceStandards[key].partCount--;
                    _self.submitSave(id,_self.deviceStandards[key].partCount)
                },
                //零件数量增加
                plus_in: function (id,key) {
                    var _self = this;
                    _self.deviceStandards[key].partCount++;
                    _self.submitSave(id,_self.deviceStandards[key].partCount);
                },
                submitSave: function (id,count) {
                    var _self = this;
                    var services_api_url = [[@{/api/deviceStandard}]];
                    _self.deviceStandard={id:id,partCount:count}
                    $.ajax({
                        url : services_api_url,
                        type: "PUT",
                        data: JSON.stringify(_self.deviceStandard),
                        contentType: 'application/json',
                    });
                },
                openDeviceStandWindow: function (id, title) {
                    this.dialog.find("h3.modal-title").html(title);
                    var _self = this;
                    if (id > 0) {
                        var services_api_url = [[@{/api/deviceStandard}]];
                        $.get(services_api_url + "/" + id, function (result) {
                            if (result) {
                                _self.deviceStandard = result;
                            }
                        }).error(function (XMLHttpRequest) {
                            window.top.errorMessage(XMLHttpRequest);
                        });
                    } else {
                        this.deviceStandard.id = 0;
                    }
                    _self.paetConfigs();
                    this.dialog.modal("show");
                },
                submitStandard: function () {
                    var methodDS = this.deviceStandard.id > 0 ? "PUT" : "POST";
                    var services_api_urlDS = [[@{/api/deviceStandard}]];
                    var _selfDS = this;
                    //判断零件数量不为0
                    if(this.deviceStandard.partCount == null){
                        layer.alert("零件数量不能为0,请重新选择数量值");
                        return;
                    }

                    $.ajax({
                        url: services_api_urlDS,
                        type: methodDS,
                        data: JSON.stringify(this.deviceStandard),
                        contentType: 'application/json',
                        success: function () {
                            _selfDS.closeStandardWindow();
                            _selfDS.search(1);
                            var message = "添加成功";
                            if (_selfDS.deviceStandard.id > 0) {
                                message = "更新成功";
                            }
                            layer.alert(message, {title: '操作提示', icon: 1});
                            //$.messager.alert('操作提示', message, 'info');
                        },
                        error: function (XMLHttpRequest) {
                            if (XMLHttpRequest.responseJSON && XMLHttpRequest.responseJSON.message) {
                                // console.log(XMLHttpRequest.responseJSON.code);
                                var message = XMLHttpRequest.responseJSON.message;
                                var errors = XMLHttpRequest.responseJSON.errors;
                                if (errors && errors.length > 0) {
                                    $.each(errors, function (i, error) {
                                        if (error && error.message) {
                                            message += "<br />" + error.message;
                                        }
                                    });
                                }
                                layer.alert(message, {title: '操作提示', icon: 0});
                            } else {
                                var message = "添加失败";
                                if (id > 0) {
                                    message = "更新失败";
                                }
                                layer.alert(message, {title: '操作提示', icon: 2});
                            }
                        }
                    });
                },
                //零件数量减少
                minus: function () {
                    var _self = this;
                    if( _self.result ==0){
                        return;
                    }
                    _self.result--;
                    _self.$emit('input', {res: _self.result, other: '--'})
                    _self.deviceStandard.partCount =  _self.result
                },
                //零件数量增加
                plus: function () {
                    var _self = this;
                    _self.result++;
                    _self.$emit('input', {res: _self.result, other: '++'})
                    _self.deviceStandard.partCount = _self.result
                },
                initDialog: function () {
                    this.dialog = $('#service-dialog').modal({
                        backdrop: false,
                        keyboard: false,
                        show: false
                    });
                    // $("div.ui-dialog-titlebar").hide();
                    this.dialog.modal("hide");
                },

                closeStandardWindow: function () {
                    this.dialog.modal("hide");
                    this.deviceStandard = {};
                    this.result = 0;
                },
                deleteStandard: function () {
                    var ids = [];
                    $(".mailbox-messages input:checked").each(function () {
                        ids.push($(this).val());
                    });
                    if(ids.length <=0){
                        layer.alert("请选择删除的零件", {title: '操作提示', icon: 0});
                        return;
                    }
                    var services_api_url = [[@{/api/deviceStandard}]];
                    var _self = this;
                    $.ajax({
                        url: services_api_url,
                        type: 'DELETE',
                        data: JSON.stringify(ids),
                        contentType: 'application/json',
                        success: function () {
                            layer.alert('删除成功', {title: '操作提示', icon: 1});
                            var clicks = $(".checkbox-toggle").data('clicks');
                            if (clicks) {
                                $(".checkbox-toggle").click();
                            }
                            _self.search(1);
                        },
                        error: function (XMLHttpRequest) {
                            if (XMLHttpRequest.responseJSON && XMLHttpRequest.responseJSON.message) {
                                // console.log(XMLHttpRequest.responseJSON.code);
                                var message = XMLHttpRequest.responseJSON.message;
                                var errors = XMLHttpRequest.responseJSON.errors;
                                if (errors && errors.length > 0) {
                                    $.each(errors, function (i, error) {
                                        if (error && error.message) {
                                            message += "<br />" + error.message;
                                        }
                                    });
                                }
                                layer.alert(message, {title: '操作提示', icon: 0});
                            }
                        }
                    });
                },
            }
        });

        vue.initDialog();
        vue.search(1);

        $(".checkbox-toggle").click(function () {
            var clicks = $(this).data('clicks');
            if (clicks) {
                //Uncheck all checkboxes
                $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
                $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
            } else {
                //Check all checkboxes
                $(".mailbox-messages input[type='checkbox']").iCheck("check");
                $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
            }
            $(this).data("clicks", !clicks);
        });
    });
    /*]]>*/
</script>
</html>