<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head th:replace="common/head::head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <th:block th:replace="header::header"/>
    <th:block th:replace="menu::menu(5, 1)"/>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 th:replace="common/name::content"></h1>
            <ol class="breadcrumb">
                <li><a href="javascript:void(0);"><i class="fa fa-server"></i> 入库</a></li>
                <li class="active">入库管理</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content" id="app">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">入库管理</h3>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <select class="form-control pull-right" id="isStatus">
                                <option value="">全部</option>
                                <option value ="0">待入库</option>
                                <option value ="1">完成</option>
                            </select>

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default" v-on:click="search(1);"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <div class="mailbox-controls">
                        <!-- Check all button -->
                      <!--  <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm" v-on:click="openServiceWindow(0,'添加服务');"><i class="fa fa-plus"></i></button>
                            <button type="button" class="btn btn-default btn-sm" v-on:click="deleteServices();"><i class="fa fa-trash-o"></i></button>
                        </div>-->
                        <!--<button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>-->
                        <!-- /.btn-group -->
                        <button type="button" class="btn btn-default btn-sm" v-on:click="search(1);"><i class="fa fa-refresh"></i></button>
                        <div class="pull-right">
                            {{start}} - {{end}} / {{total}}
                            <!-- /.btn-group -->
                        </div>
                        <!-- /.pull-right -->
                    </div>
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover">
                            <tr>
                                <th></th>
                                <th nowrap="true">采购单号</th>
                                <th nowrap="true">采购时间</th>
                                <th nowrap="true">入库更新时间</th>
                                <th nowrap="true">入库状态</th>
                                <th nowrap="true">入库进度</th>
                                <th nowrap="true">入库明细</th>
                            </tr>
                            <tr v-for="item in purchases">
                                <td nowrap="true"><!--<td nowrap="true"><input type="checkbox" v-bind:value="item.id" />--></td>
                                <td nowrap="true">{{item.purchaseCode}}</td>
                                <td nowrap="true">{{item.planTime}}</td>
                                <td nowrap="true">{{item.orderUpdateTime}}</td>
                                <td nowrap="true">{{item.isStatus== 0?'待入库':'完成'}} </td>
                                <td nowrap="true">{{item.orderProgress}}% </td>
                                <td nowrap="true">
                                    <button type="button" class="btn btn-default btn-sm"><a  v-on:click="openDetailedWindow(item.id)">入库明细
                                    </a></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="javascript:void(0);" v-on:click="search(1);">&laquo;</a></li>
                        <li v-for="item in size" v-if="item == page"><a href="javascript:void(0);">{{item}}</a></li>
                        <li v-else="v-else"><a href="javascript:void(0);" v-on:click="search(item);">{{item}}</a></li>
                        <li><a href="javascript:void(0);" v-on:click="search(size);">&raquo;</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <th:block th:replace="footer::footer"/>
</div>
<!-- ./wrapper -->
</body>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        var vue = new Vue({
            el: "#app",
            data: {
                total: 0,
                start: 0,
                end: 0,
                size: 0,
                page: 1,
                rows: 10,
                purchases: [],
                pager: {},
                purchase: {},
                items:[{text:'未完成',value:'未完成'},{text:'采购中',value:'采购中'},{text:'完成',value:'完成'}],
                dialog: {}
            },
            methods: {
                search: function (index) {
                    var size = Math.ceil(this.total / this.rows);
                    if (!index) {
                        index = 1;
                    }
                    if (index > size) {
                        index = size;
                    }
                    if (index < 1) {
                        index = 1;
                    }
                    this.page = index;
                    var _self = this;
                    var url = [[@{/api/purchase/purchaseIn}]];
                    $.get(url, {
                        isStatus:$("#isStatus option:selected").val(),
                        page: this.page,
                        rows: this.rows
                    }, function (datas) {
                        if (datas && datas.purchases) {
                            _self.purchases = datas.purchases;
                            $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
                            var clicks = $(".checkbox-toggle").data('clicks');
                            if (clicks) {
                                $(".checkbox-toggle").click();
                            }
                            _self.total = datas.pager.total;
                            _self.size = Math.ceil(_self.total / _self.rows);
                            _self.start = (_self.page - 1) * _self.rows + 1;
                            _self.end = Math.min(_self.total, _self.page * _self.rows);
                        }
                    }).error(function (XMLHttpRequest) {
                        window.top.errorMessage(XMLHttpRequest);
                    });
                },
                openDetailedWindow:function (id) {
                    window.location.href = "/storageDetailed?planId="+id;
                },
                openServiceWindow: function (id, title) {
                    this.dialog.find("h3.modal-title").html(title);
                    if (id > 0) {
                        var services_api_url = [[@{/api/purchase}]];
                        var _self = this;
                        $.get(services_api_url + "/" + id, function (result) {
                            if (result) {
                                _self.purchase = result;
                            }
                        }).error(function (XMLHttpRequest) {
                            window.top.errorMessage(XMLHttpRequest);
                        });
                    } else {
                        this.purchase = {id: 0};
                        $("#needHeaders").prop("checked", true);
                    }
                    this.dialog.modal("show");
                },
                initDialog: function () {
                    this.dialog = $('#service-dialog').modal({
                        backdrop: false,
                        keyboard: false,
                        show: false
                    });
                    // $("div.ui-dialog-titlebar").hide();
                    this.dialog.modal("hide");
                },
                closeServiceWindow: function () {
                    $("#planNumber").val("");
                    $("#planTime").val("");
                    $("#orderUpdateTime").val("");
                    $("#orderStatus").val("");
                    $("#orderProgress").val("");
                    this.dialog.modal("hide");
                },
                submitService: function () {
                    var method = this.purchase.id > 0 ? "PUT" : "POST";
                    var services_api_url = [[@{/api/purchase}]];
                    var _self = this;
                    $.ajax({
                        url : services_api_url,
                        type: method,
                        data: JSON.stringify(this.purchase),
                        contentType: 'application/json',
                        success: function() {
                            _self.closeServiceWindow();
                            _self.search(_self.page);
                            var message = "添加成功";
                            if (_self.purchase.id > 0) {
                                message = "更新成功";
                            }
                            layer.alert(message, {title: '操作提示', icon: 1});
                            //$.messager.alert('操作提示', message, 'info');
                        },
                        error: function (XMLHttpRequest) {
                            if (XMLHttpRequest.responseJSON && XMLHttpRequest.responseJSON.message) {
                                // console.log(XMLHttpRequest.responseJSON.code);
                                var message = XMLHttpRequest.responseJSON.message;
                                var errors = XMLHttpRequest.responseJSON.errors;
                                if (errors && errors.length > 0) {
                                    $.each(errors, function (i, error) {
                                        if (error && error.message) {
                                            message += "<br />" + error.message;
                                        }
                                    });
                                }
                                layer.alert(message, {title: '操作提示', icon: 0});
                            } else {
                                var message = "添加失败";
                                if (id > 0) {
                                    message = "更新失败";
                                }
                                layer.alert(message, {title: '操作提示', icon: 2});
                            }
                        }
                    });
                },
                deleteServices: function () {
                    var ids = [];
                    $(".mailbox-messages input:checked").each(function () {
                        ids.push($(this).val());
                    });
                    var services_api_url = [[@{/api/purchase}]];
                    var _self = this;
                    $.ajax({
                        url : services_api_url,
                        type: 'DELETE',
                        data: JSON.stringify(ids),
                        contentType: 'application/json',
                        success: function() {
                            layer.alert('删除成功', {title: '操作提示', icon: 1});
                            var clicks = $(".checkbox-toggle").data('clicks');
                            if (clicks) {
                                $(".checkbox-toggle").click();
                            }
                            _self.search(_self.page);
                        },
                        error: function (XMLHttpRequest) {
                            if (XMLHttpRequest.responseJSON && XMLHttpRequest.responseJSON.message) {
                                // console.log(XMLHttpRequest.responseJSON.code);
                                var message = XMLHttpRequest.responseJSON.message;
                                var errors = XMLHttpRequest.responseJSON.errors;
                                if (errors && errors.length > 0) {
                                    $.each(errors, function (i, error) {
                                        if (error && error.message) {
                                            message += "<br />" + error.message;
                                        }
                                    });
                                }
                                layer.alert(message, {title: '操作提示', icon: 0});
                            } else {
                                layer.alert('删除失败', {title: '操作提示', icon: 2});
                            }
                        }
                    });
                },
                cleanCache: function (appId, appName) {
                    layer.confirm('你确定要删除应用[' + appName + ']的所有缓存？', {
                        btn: ['确定','取消'] //按钮
                    }, function(){
                        var services_api_url = [[@{/api/admin/caches}]];
                        // var _self = this;
                        $.ajax({
                            url : services_api_url + "/" + appId,
                            type: 'DELETE',
                            success: function() {
                                layer.alert('清除应用缓存成功', {title: '操作提示', icon: 1});
                            },
                            error: function (XMLHttpRequest) {
                                if (XMLHttpRequest.responseJSON && XMLHttpRequest.responseJSON.message) {
                                    // console.log(XMLHttpRequest.responseJSON.code);
                                    var message = XMLHttpRequest.responseJSON.message;
                                    var errors = XMLHttpRequest.responseJSON.errors;
                                    if (errors && errors.length > 0) {
                                        $.each(errors, function (i, error) {
                                            if (error && error.message) {
                                                message += "<br />" + error.message;
                                            }
                                        });
                                    }
                                    layer.alert(message, {title: '操作提示', icon: 0});
                                } else {
                                    layer.alert('清除应用缓存失败', {title: '操作提示', icon: 2});
                                }
                            }
                        });
                    }, function(){
                    });
                }
            }
        });

        vue.initDialog();
        vue.search(1);

        $(".checkbox-toggle").click(function () {
            var clicks = $(this).data('clicks');
            if (clicks) {
                //Uncheck all checkboxes
                $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
                $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
            } else {
                //Check all checkboxes
                $(".mailbox-messages input[type='checkbox']").iCheck("check");
                $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
            }
            $(this).data("clicks", !clicks);
        });
    });
    /*]]>*/
</script>
</html>